body {
  background-color: #B11E24
}
.jumbotron {
  background-color: #B11E24
}
.carousel {
  border: 3px solid #0A0A0A;
  border-radius: 5px;
}
.section-header {
  font-family: 'Bangers', cursive;
  color: #0A0A0A;
}
.article-header {
  font-family: 'Bangers', cursive;
  color: #0A0A0A;
}
.article-header:hover {
  color:#FFC107
}
.section-subheader {
  font-family: 'Paytone One', sans-serif;
  color: #0A0A0A;
}
.market-subheader {
  color: #0A0A0A
}
.basic-text {
  font-family: 'Paytone One', sans-serif;
  color: #0A0A0A;
}
.mash-link {
  font-family: 'Paytone One', sans-serif;
  color:#fff
}
.mash-link:hover {
  color:#FFC107
}
.bold-text {
  font-weight: bold;
  font-size: 18px;
}
.itemsell-name {
  font-size: 20px;
  text-align: center;
}
.itemsell-seller {
  font-size: 18px;
}
.itemsell-price {
  font-size: 18px;
  text-align: center;
}